.main-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  padding: 10px 5%;
  background-color: palevioletred;
  color: white;
  border-radius: 10px;
}

.logo-img{
  height: 40px;
  width: auto;
  display: block;
  margin-right: 40px;
}

.search-container{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.search-input{
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 250px;
  border-radius: 3px;
}

.searchy-btn{
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.searchy-btn:hover {
    background-color: #0056b3;
}

.nav-links {
  display: flex;
  gap: 3px;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  color: blueviolet;
}

.nav-links a:hover{
  color: brown;
  font-weight: bold;
}


.recipe-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 50px;
}

.bubble-wrapper{
width: 100%;
aspect-ratio: 1 / 1;
border-radius: 50%;
overflow: hidden;
border: 5px solid #fff;
box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.bubble-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe-card{
  opacity: 0;
  transform: translatey(50px);
  transition: all 0.8s ease-out;
  text-align: center;
}

.recipe-card.appear{
opacity: 1;
transform: translateY(0);
}

